body{
    margin: 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    user-select: none;
}
header{
    margin: 0;
    width: 340;
}
h1{
    background: url("media/floppybird.png") 0% 230px ;
    padding: 1.2rem 0;
    margin: 0;
}
.scorecontainer{
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    background: rgb(103, 238, 103);
}